[from here https://www.datacamp.com/community/tutorials/r-tutorial-apply-family?utm_source=adwords_ppc&utm_campaignid=898687156&utm_adgroupid=48947256715&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=1t1&utm_creative=229765585186&utm_targetid=aud-299261629574:dsa-473406586995&utm_loc_interest_ms=&utm_loc_physical_ms=1006976&gclid=CjwKCAjwh9_bBRA_EiwApObaOBBBa3VQg2IdUyVeeI0gMPTVevVK_LBKtyEp6hDeKp0sWCwjgMKLORoCV2MQAvD_BwE#codelapplycode]

These functions allow crossing the data in a number of ways and avoid explicit use of loop constructs. They act on an input list, matrix or array and apply a named function with one or several optional arguments.

#### apply()

In [1]:
X <- matrix(rnorm(30), nrow=5, ncol=6)

In [2]:
X

     [,1]       [,2]      [,3]       [,4]       [,5]       [,6]
[1,]  0.2734289 0.8387221 -0.7864828  0.3732844 -0.2974639 -0.7458732
[2,]  0.7800701 0.3131216 -0.3510538  2.2020555  0.0478064  0.6605179
[3,] -0.2644721 0.1483697 -2.2204709  0.6579581 -0.4106993 -0.5448800
[4,] -0.8687482 0.8705984  0.7703488 -0.4113856  0.7319545  0.6594421
[5,]  0.1025178 0.3612828 -1.0280697 -0.5458293  0.2098225 -0.4154092

In [3]:
apply(X, 2, sum)

[1]  0.02279644  2.53209461 -3.61572839  2.27608311  0.28142028 -0.38620244

#### lapply()

The difference from apply() is that:

- It can be used for other objects like dataframes, lists or vectors; and
- The output returned is a list (which explains the “l” in the function name), which has the same number of elements as the object passed to it.

In [4]:
A <- matrix(data = 1:9, nrow = 3, ncol = 3)
B <- matrix(data = 4:15, nrow = 4, ncol = 3)
C <- matrix(data = 8:10, nrow = 3, ncol = 2)

MyList <- list(A, B, C)

In [5]:
MyList

[[1]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[2]]
     [,1] [,2] [,3]
[1,]    4    8   12
[2,]    5    9   13
[3,]    6   10   14
[4,]    7   11   15

[[3]]
     [,1] [,2]
[1,]    8    8
[2,]    9    9
[3,]   10   10

The empty space between the commas is because that's because where you'd say what row we want; 
here, we only want column

In [6]:
lapply(MyList,"[", ,2)

[[1]]
[1] 4 5 6

[[2]]
[1]  8  9 10 11

[[3]]
[1]  8  9 10

In this case we have selected a row, but we've left the column blank

In [7]:
lapply(MyList, "[", 1, )

[[1]]
[1] 1 4 7

[[2]]
[1]  4  8 12

[[3]]
[1] 8 8

#### sapply()

The sapply() function works like lapply(), but it tries to simplify the output to the most elementary data structure that is possible. And indeed, sapply() is a ‘wrapper’ function for lapply().

In [8]:
# Compare lapply() and sapply()

lapply(MyList,"[", 2, 1 )

[[1]]
[1] 2

[[2]]
[1] 5

[[3]]
[1] 9

In [9]:
typeof(lapply(MyList,"[", 2, 1 ))

[1] "list"

In [10]:
sapply(MyList, "[", 2, 1)

[1] 2 5 9

In [11]:
typeof(sapply(MyList, "[", 2, 1))

[1] "integer"

In [12]:
# When simplify is FALSE behavious is as with lapply()

sapply(MyList, "[", 2, 1, simplify = FALSE)

[[1]]
[1] 2

[[2]]
[1] 5

[[3]]
[1] 9

Good article: https://www.r-bloggers.com/using-apply-sapply-lapply-in-r/. Implemented below:

In [30]:
m <- matrix(data=cbind(rnorm(30, 0), rnorm(30, 2), rnorm(30, 5)), nrow=30, ncol=3)

In [31]:
m

      [,1]        [,2]        [,3]
 [1,] -0.87570370  0.23236472 4.273751
 [2,] -1.25728942  1.29681482 4.900580
 [3,] -1.31861507  1.00354265 3.831502
 [4,]  0.08881604  0.35773992 3.041967
 [5,] -0.73372043  1.47315741 5.203949
 [6,] -0.63420327  3.60191845 4.650125
 [7,]  1.79409248  1.19269789 3.929694
 [8,] -0.01757364  1.20184233 5.716597
 [9,] -1.24280260  0.80799914 5.968494
[10,] -0.09169076  2.32714697 5.734850
[11,] -0.09449910  1.07425951 3.468177
[12,]  0.89129895  1.79504141 3.585926
[13,] -0.89621167  0.31407778 6.044757
[14,] -2.00313893  4.15712490 5.802150
[15,]  0.02254884  1.37395308 5.006723
[16,] -0.78382195  0.02732178 3.699269
[17,] -0.25894664  3.22730533 3.311673
[18,] -1.77794429  1.77587398 6.411588
[19,] -0.85588453  0.50165822 3.754188
[20,]  0.80347266  2.48278422 6.099132
[21,]  1.29867444 -0.76546414 5.009939
[22,] -1.16812766  2.13247865 4.948862
[23,]  0.37381898  0.53735281 5.220974
[24,] -2.34619666  1.73436960 5.348013
[25,] -0.64631839  1.46928318 4.247506
[26,]  1.44765728  0.47218755 7.268019
[27,]  0.03854257  3.40143508 3.887112
[28,]  0.59751920  2.34337239 3.634620
[29,] -0.28921647  2.44802553 5.024519
[30,] -0.67095405  2.03870845 6.060513

In [32]:
apply(m, 2, mean)

[1] -0.3535473  1.5345458  4.8361724

In [33]:
apply(m, 2, function(x) length(x[x<0]))

[1] 20  1  0

Here the function definition is not required, we could instead just pass the is.vector function, as it only takes one argument and has already been wrapped up in a function for us. Let’s check they are vectors as we might expect.

In [40]:
apply(m, 2, is.vector) == apply(m, 2, function(x) is.vector(x))

[1] TRUE TRUE TRUE

Why then did we need to wrap up our length function? When we want to define our own handling function for apply, we must at a minimum give a name to the incoming data, so we can use it in our function.

In [41]:
apply(m, 2, length(x[x<0]))

ERROR: Error in match.fun(FUN): object 'x' not found

In [42]:
apply(m, 2, function(x) mean(x[x>0]))

[1] 0.7356441 1.6138565 4.8361724