[from here https://www.datacamp.com/community/tutorials/r-tutorial-apply-family?utm_source=adwords_ppc&utm_campaignid=898687156&utm_adgroupid=48947256715&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=1t1&utm_creative=229765585186&utm_targetid=aud-299261629574:dsa-473406586995&utm_loc_interest_ms=&utm_loc_physical_ms=1006976&gclid=CjwKCAjwh9_bBRA_EiwApObaOBBBa3VQg2IdUyVeeI0gMPTVevVK_LBKtyEp6hDeKp0sWCwjgMKLORoCV2MQAvD_BwE#codelapplycode]

These functions allow crossing the data in a number of ways and avoid explicit use of loop constructs. They act on an input list, matrix or array and apply a named function with one or several optional arguments.

#### apply()

In [1]:
X <- matrix(rnorm(30), nrow=5, ncol=6)

In [2]:
X

     [,1]        [,2]        [,3]       [,4]       [,5]       [,6]
[1,] -0.30633673 -0.01117864 -0.3918134 -0.9835978 -0.9606930 -0.04633925
[2,]  0.08962647 -0.36809319 -1.4108587  1.6247579  0.1615578 -0.60664474
[3,] -0.34652513 -0.93795206  0.8897838  0.4604928 -1.0782763 -0.50800128
[4,]  0.27820983 -0.86132617  0.7640985 -0.4692085 -0.5024208 -0.91707541
[5,]  0.57595076  1.73460453 -2.0148239  0.5186808 -0.7254485  0.57356750

In [3]:
apply(X, 2, sum)

[1]  0.2909252 -0.4439455 -2.1636137  1.1511253 -3.1052809 -1.5044932

#### lapply()

The difference from apply() is that:

- It can be used for other objects like dataframes, lists or vectors; and
- The output returned is a list (which explains the “l” in the function name), which has the same number of elements as the object passed to it.

In [4]:
A <- matrix(data = 1:9, nrow = 3, ncol = 3)
B <- matrix(data = 4:15, nrow = 4, ncol = 3)
C <- matrix(data = 8:10, nrow = 3, ncol = 2)

MyList <- list(A, B, C)

In [5]:
MyList

[[1]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[2]]
     [,1] [,2] [,3]
[1,]    4    8   12
[2,]    5    9   13
[3,]    6   10   14
[4,]    7   11   15

[[3]]
     [,1] [,2]
[1,]    8    8
[2,]    9    9
[3,]   10   10

The empty space between the commas is because that's because where you'd say what row we want; 
here, we only want column

In [6]:
lapply(MyList,"[", ,2)

[[1]]
[1] 4 5 6

[[2]]
[1]  8  9 10 11

[[3]]
[1]  8  9 10

In this case we have selected a row, but we've left the column blank

In [7]:
lapply(MyList, "[", 1, )

[[1]]
[1] 1 4 7

[[2]]
[1]  4  8 12

[[3]]
[1] 8 8

#### sapply()

The sapply() function works like lapply(), but it tries to simplify the output to the most elementary data structure that is possible. And indeed, sapply() is a ‘wrapper’ function for lapply().

In [8]:
# Compare lapply() and sapply()

lapply(MyList,"[", 2, 1 )

[[1]]
[1] 2

[[2]]
[1] 5

[[3]]
[1] 9

In [10]:
typeof(lapply(MyList,"[", 2, 1 ))

[1] "list"

In [16]:
sapply(MyList, "[", 2, 1)

[1] 2 5 9

In [11]:
typeof(sapply(MyList, "[", 2, 1))

[1] "integer"

In [19]:
# When simplify is FALSE behavious is as with lapply()

sapply(MyList, "[", 2, 1, simplify = FALSE)

[[1]]
[1] 2

[[2]]
[1] 5

[[3]]
[1] 9

Good article: https://www.r-bloggers.com/using-apply-sapply-lapply-in-r/